.nvm/
.DS_Store
.Trash/
.cache/
.config/
.gitconfig
.idlerc/
.local/
.netrc
.npm/
.python_history
.viminfo
.vscode/
.zcompdump
.zprofile
.zsh_history
.zsh_sessions/
Library/
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
temp_clone/
test_sendit_repo/

